
.main_header {
    height: 85vh !important;
  }
  
  .main_header_left {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main_header_left p {
    font-size: 2rem;
  }
  
  .main_header_left h1 {
    font-size: 3rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
  }
  
  .main_header_left .text_crl {
    color: var(--main-color);
  }
  
  .main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
  }
  
  .main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
  }
  
  .main_header_right {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main_header_right figure img {
    width: 75%;
    filter: drop-shadow(0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.6));
  }